#------------------------------------------------------------------------------
#
# \brief	Git ignore file
#
#------------------------------------------------------------------------------


build
*.pro.user
*.a
*.bck

doc/html
doc/latex


# Just temporary
autodia.out.dia
autodia.out.dia.autosave
autodia.out.png


#---fin------------------------------------------------------------------------
